

body {
    justify-content: flex-start;
}

/* --- Header --- */
header{
    /* background-image: url("https://www.wallpaperflare.com/static/918/501/158/1980s-pylot-synthwave-new-retro-wave-wallpaper-thumb.jpg");
    background-origin:content-box;
    repeat: none; */
    text-align: center;
    border: 2px solid black;
    /* position: relative; */
    padding: 25px 0;
} 


h1 {
        /* text-align: center; */
        /* color: #ffff9bff; */
        font-size: 50px;
}

h3 {
    /* color: #ffff9bff; */
    padding-top: 13px;
}

/* --- Side Navigation Bar --- */
.sidenav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    top: 131px;
    right: 0px;
    height: 100%;
    width: 160px;
    border: 2px solid black;
    /* justify-content: flex-end; */
    /* background-color: #1b2845ff; */
    /* color: #ffff9bff; */
}

.sidenav a {
    margin: 20px;
    text-decoration: none;
    font-size: 25px;
    line-height: 1.5;
    /* border: 2px solid black; */
    /* color: #ffff9bff; */
    /* text-align: right; */
    
 
} 

main {
    display: block;
    /* flex-wrap: wrap; */
}

/* --- About Me --- */

.aboutMe {   
    display: flex;
    justify-content: flex-start;
    margin-right: 160px;
}

.aboutMe div {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    /* margin-left: 450px;
    height: 62px;
    margin-top: -252px; */
}

#hero {
    width: 450px;
    height: 250px;
}

.aboutMe h2 {
    text-align: left;
    font-size: 30px;
    margin-left: 15px;
}

.aboutMe p {
    margin-left: 15px; 
}

.aboutMe img {
    width: 500px;
    height: 300px;
}

/* --- Portfolio Gallery --- */

.projects {
    display: flex;
    flex-wrap: wrap;
    margin-right: 198px;
    border: 2px solid black;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin-bottom: 0px; */
}

.row {
    margin: 8px -16px;
    width: 100%;
}

/* padding between each column */
.row,
.row > .column {
    padding:8px;
    
    
}

/* for equal columns, float next to each other */
.column{
    float: left;
    width: 30%;
}

/* clear floats */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.content {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
}

/* --- Contact --- */
 form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    margin-right: 162px;
 }

 form h2 {
     font-size: 30px
 }

 form label {
    font-size: 20px;
    margin-top: 10px
 }

 #fname #lname #subject {
    width: 25%;
}

#submit {
    margin: 10px;
}

.footer {
    position:absolute;
    width: 100%;    
    border: 2px solid black;
    
}

.footer h3 {
    text-align: center;
    margin-right: 160px;
    font-size: 30px;
    padding: 10px 0;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
        flex-direction
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%
    }
}

