:root {
    --background: rgb(0,33,71);
    --border: rgb(229,142,115);
}

body {
    justify-content: flex-start;
    background-image: linear-gradient(rgba(135,206,235,1), rgba(0,33,71,1));
    color: rgb(0,49,83);
}

/* --- Header --- */
header{   
    color: rgb(0,49,83);
    height: 250px;
    text-align: center;
    border-bottom: 10px solid var(--border);    
    padding: 25px 0;
   
} 


h1 {        
        font-size: 60px;
        padding-top: 50px;
        font-family: "Ubuntu";
} 


h3 {    
    padding-top: 13px;
    font-family: "Lora";
}

/* --- Navigation Bar --- */
.navbar {   
    text-align: right;
    right: 0px;
    background-color: var(--background);
    border-bottom: 1px solid var(--border);    
}

.navbar a {
    margin: 20px;
    text-decoration: none;
    font-size: 25px;
    line-height: 1.5;    
    padding-left: 10px;    
    color: rgb(93,164,147); 
    font-family: "Ubuntu";
} 

.navbar a:hover{
    color: burlywood;
}

main {
    display: block;    
}

/* --- About Me --- */

.aboutMe {   
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-start;    
}

.aboutMe div {    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 53%;  
}

#hero {
    width: 46%;
    border: 1px solid var(--border);
}

.aboutMe h2 {
    text-align:center;
    font-size: 45px;
    width: 100%;
    background-color: var(--background);
    color: rgb(93,164,147);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Ubuntu";
    
}

.aboutMe p {
    margin-left: 15px; 
    line-height: 1.3;
    font-family: "Lora";
}



/* --- Portfolio Gallery --- */

.projects {
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    justify-content: space-evenly;    
}

.row {
    margin: 8px -16px;
    width: 100%;
    margin-left: 50px;
}

/* padding between each column */
.row,
.row > .column {
    padding:8px;    
}

/* for equal columns, float next to each other */
.column{
    float: left;
    width: 30%;    
}

/* clear floats */
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

.content {
    padding: 10px;
    text-align: center;
    border: 2px solid var(--border);
    background-color: var(--background);
    border-radius:15px;
    color: rgb(93,164,147);    
}

.content h3 {
    font-family: "Ubuntu";
    font-size: 20px;
}

.content p {
    font-family: "Lora";
}

.content:hover{
    transform: scale(1.2) rotate(6deg);    
}


/* --- Contact --- */
 form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25px;
    padding-bottom: 25px;    
 }

 form h2 {
     font-size: 36px;
     color: rgb(93,164,147);
     font-family: "Ubuntu";
 }

 form label {
    font-size: 20px;
    margin-top: 10px;
    color: rgb(93,164,147);
    font-family: "Lora";
 }

 #fname #lname #subject {
    width: 25%;
}

#submit {
    margin: 10px;
}


/* --- Footer --- */
.footer {
    position:absolute;
    width: 100%;      
    padding-top: 10px;
    padding-bottom: 10px;
    background-clip: padding-box;
    background-color:rgb(93,164,147);
}

.footer h3 {
    /* background-color: rgb(93,164,147); */
    text-align: center;
    color: rgb(0,49,83);
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Ubuntu";
}

/* --- Media Queries --- */


@media screen and (max-width: 768px) {
    .column {
        width: 47%;        
    }
    #hero {
        display: none;
    }
    .aboutMe div{
        width: 100%;
    }
    .aboutMe p, .navbar {
        text-align:center;
    }
    
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        align-content: center;        
    }
    .row {
       margin-left: 0px;
       width: 80%;  
    }
    
}

